

//channel A
NET "ADC_ALD[4]" LOC = "B23";
NET "ADC_ALDN[4]" LOC = "A23";
NET "ADC_ALD[1]" LOC = "E23";
NET "ADC_ALDN[1]" LOC = "D23";
NET "ADC_ALD[6]" LOC = "F25";
NET "ADC_ALDN[6]" LOC = "E25";
NET "ADC_ALD[0]" LOC = "E24";
NET "ADC_ALDN[0]" LOC = "D24";
NET "ADC_ALD[5]" LOC = "F26";
NET "ADC_ALDN[5]" LOC = "E26";
NET "ADC_ALD[7]" LOC = "G23";
NET "ADC_ALDN[7]" LOC = "G24";
NET "ADC_ALD[3]" LOC = "B27";
NET "ADC_ALDN[3]" LOC = "A27";
NET "ADC_ALD[2]" LOC = "C24";
NET "ADC_ALDN[2]" LOC = "B24";
NET "ADC_ALD[0]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[1]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[2]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[3]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[4]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[5]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[6]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_ALD[7]" IOSTANDARD = LVDS_25;
NET "ADC_ALDN[7]" IOSTANDARD = LVDS_25;

NET "ADC_AHD[1]" LOC = "C29";
NET "ADC_AHDN[1]" LOC = "B29";
NET "ADC_AHD[0]" LOC = "D29";
NET "ADC_AHDN[0]" LOC = "C30";
NET "ADC_AHD[2]" LOC = "B30";
NET "ADC_AHDN[2]" LOC = "A30";
NET "ADC_AHD[3]" LOC = "E29";
NET "ADC_AHDN[3]" LOC = "E30";
NET "ADC_AHD[7]" LOC = "H24";
NET "ADC_AHDN[7]" LOC = "H25";
NET "ADC_AHD[4]" LOC = "G28";
NET "ADC_AHDN[4]" LOC = "F28";
NET "ADC_AHD[6]" LOC = "G27";
NET "ADC_AHDN[6]" LOC = "F27";
NET "ADC_AHD[5]" LOC = "G29";
NET "ADC_AHDN[5]" LOC = "F30";
NET "ADC_AHD[0]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[1]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[2]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[3]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[4]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[5]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[6]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_AHD[7]" IOSTANDARD = LVDS_25;
NET "ADC_AHDN[7]" IOSTANDARD = LVDS_25;


//channel B
NET "ADC_BLD[6]" LOC = "J23";
NET "ADC_BLDN[6]" LOC = "J24";
NET "ADC_BLD[5]" LOC = "L22";
NET "ADC_BLDN[5]" LOC = "L23";
NET "ADC_BLD[1]" LOC = "K23";
NET "ADC_BLDN[1]" LOC = "K24";
NET "ADC_BLD[3]" LOC = "L21";
NET "ADC_BLDN[3]" LOC = "K21";
NET "ADC_BLD[4]" LOC = "J21";
NET "ADC_BLDN[4]" LOC = "J22";
NET "ADC_BLD[0]" LOC = "M20";
NET "ADC_BLDN[0]" LOC = "L20";
NET "ADC_BLD[7]" LOC = "J29";
NET "ADC_BLDN[7]" LOC = "H29";
NET "ADC_BLD[2]" LOC = "J27";
NET "ADC_BLDN[2]" LOC = "J28";
NET "ADC_BLD[0]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[1]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[2]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[3]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[4]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[5]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[6]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_BLD[7]" IOSTANDARD = LVDS_25;
NET "ADC_BLDN[7]" IOSTANDARD = LVDS_25;

NET "ADC_BHD[0]" LOC = "V29";
NET "ADC_BHDN[0]" LOC = "V30";
NET "ADC_BHD[1]" LOC = "V25";
NET "ADC_BHDN[1]" LOC = "W26";
NET "ADC_BHD[4]" LOC = "V19";
NET "ADC_BHDN[4]" LOC = "V20";
NET "ADC_BHD[3]" LOC = "W23";
NET "ADC_BHDN[3]" LOC = "W24";
NET "ADC_BHD[7]" LOC = "U22";
NET "ADC_BHDN[7]" LOC = "U23";
NET "ADC_BHD[6]" LOC = "V21";
NET "ADC_BHDN[6]" LOC = "V22";
NET "ADC_BHD[2]" LOC = "U24";
NET "ADC_BHDN[2]" LOC = "V24";
NET "ADC_BHD[5]" LOC = "W21";
NET "ADC_BHDN[5]" LOC = "W22";
NET "ADC_BHD[0]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[1]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[2]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[3]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[4]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[5]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[6]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_BHD[7]" IOSTANDARD = LVDS_25;
NET "ADC_BHDN[7]" IOSTANDARD = LVDS_25;


//channel C
NET "ADC_CLD[6]" LOC = "T20";
NET "ADC_CLDN[6]" LOC = "T21";
NET "ADC_CLD[7]" LOC = "T22";
NET "ADC_CLDN[7]" LOC = "T23";
NET "ADC_CLD[2]" LOC = "P29";
NET "ADC_CLDN[2]" LOC = "R29";
NET "ADC_CLD[1]" LOC = "P27";
NET "ADC_CLDN[1]" LOC = "P28";
NET "ADC_CLD[3]" LOC = "R30";
NET "ADC_CLDN[3]" LOC = "T30";
NET "ADC_CLD[0]" LOC = "P26";
NET "ADC_CLDN[0]" LOC = "R26";
NET "ADC_CLD[4]" LOC = "U29";
NET "ADC_CLDN[4]" LOC = "U30";
NET "ADC_CLD[5]" LOC = "V26";
NET "ADC_CLDN[5]" LOC = "V27";
NET "ADC_CLD[0]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[1]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[2]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[3]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[4]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[5]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[6]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_CLD[7]" IOSTANDARD = LVDS_25;
NET "ADC_CLDN[7]" IOSTANDARD = LVDS_25;

NET "ADC_CHD[0]" LOC = "M29";
NET "ADC_CHDN[0]" LOC = "M30";
NET "ADC_CHD[2]" LOC = "N27";
NET "ADC_CHDN[2]" LOC = "M27";
NET "ADC_CHD[1]" LOC = "N29";
NET "ADC_CHDN[1]" LOC = "N30";
NET "ADC_CHD[3]" LOC = "N25";
NET "ADC_CHDN[3]" LOC = "N26";
NET "ADC_CHD[4]" LOC = "N19";
NET "ADC_CHDN[4]" LOC = "N20";
NET "ADC_CHD[6]" LOC = "N21";
NET "ADC_CHDN[6]" LOC = "N22";
NET "ADC_CHD[7]" LOC = "P23";
NET "ADC_CHDN[7]" LOC = "N24";
NET "ADC_CHD[5]" LOC = "P21";
NET "ADC_CHDN[5]" LOC = "P22";
NET "ADC_CHD[0]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[1]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[2]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[3]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[4]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[5]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[6]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_CHD[7]" IOSTANDARD = LVDS_25;
NET "ADC_CHDN[7]" IOSTANDARD = LVDS_25;


//channel D
NET "ADC_DLD[6]" LOC = "AD29";
NET "ADC_DLDN[6]" LOC = "AE29";
NET "ADC_DLD[5]" LOC = "AE30";
NET "ADC_DLDN[5]" LOC = "AF30";
NET "ADC_DLD[1]" LOC = "AJ28";
NET "ADC_DLDN[1]" LOC = "AJ29";
NET "ADC_DLD[0]" LOC = "AG30";
NET "ADC_DLDN[0]" LOC = "AH30";
NET "ADC_DLD[7]" LOC = "AC26";
NET "ADC_DLDN[7]" LOC = "AD26";
NET "ADC_DLD[2]" LOC = "AJ27";
NET "ADC_DLDN[2]" LOC = "AK28";
NET "ADC_DLD[4]" LOC = "AG27";
NET "ADC_DLDN[4]" LOC = "AG28";
NET "ADC_DLD[3]" LOC = "AH26";
NET "ADC_DLDN[3]" LOC = "AH27";
NET "ADC_DLD[0]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[1]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[2]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[3]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[4]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[5]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[6]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_DLD[7]" IOSTANDARD = LVDS_25;
NET "ADC_DLDN[7]" IOSTANDARD = LVDS_25;

NET "ADC_DHD[1]" LOC = "Y26";
NET "ADC_DHDN[1]" LOC = "AA26";
NET "ADC_DHD[7]" LOC = "W27";
NET "ADC_DHDN[7]" LOC = "W28";
NET "ADC_DHD[6]" LOC = "Y28";
NET "ADC_DHDN[6]" LOC = "AA28";
NET "ADC_DHD[5]" LOC = "W29";
NET "ADC_DHDN[5]" LOC = "Y29";
NET "ADC_DHD[3]" LOC = "AA27";
NET "ADC_DHDN[3]" LOC = "AB28";
NET "ADC_DHD[0]" LOC = "AA25";
NET "ADC_DHDN[0]" LOC = "AB25";
NET "ADC_DHD[2]" LOC = "AC29";
NET "ADC_DHDN[2]" LOC = "AC30";
NET "ADC_DHD[4]" LOC = "Y30";
NET "ADC_DHDN[4]" LOC = "AA30";
NET "ADC_DHD[0]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[0]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[1]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[1]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[2]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[2]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[3]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[3]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[4]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[4]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[5]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[5]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[6]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[6]" IOSTANDARD = LVDS_25;
NET "ADC_DHD[7]" IOSTANDARD = LVDS_25;
NET "ADC_DHDN[7]" IOSTANDARD = LVDS_25;

//数据输出控制DATA SYNC
NET "ADC_SYNCP" LOC = "L25";
NET "ADC_SYNCN" LOC = "K25";
NET "ADC_SYNCP" IOSTANDARD = LVDS_25;
NET "ADC_SYNCN" IOSTANDARD = LVDS_25;
//随路时钟
NET "ADC_CDR" LOC = "K28";
NET "ADC_CDRN" LOC = "K29";
NET "ADC_BDR" LOC = "U27";
NET "ADC_BDRN" LOC = "U28";
NET "ADC_CDR" IOSTANDARD = LVDS_25;
NET "ADC_CDRN" IOSTANDARD = LVDS_25;
NET "ADC_BDR" IOSTANDARD = LVDS_25;
NET "ADC_BDRN" IOSTANDARD = LVDS_25;
//ADC控制
NET "ADC_CSN" LOC = "C21";
NET "ADC_SCLK" LOC = "G22";
NET "ADC_MOSI" LOC = "D22";
NET "ADC_RSTN" LOC = "C22";
NET "ADC_CSN" IOSTANDARD = LVCMOS33;
NET "ADC_SCLK" IOSTANDARD = LVCMOS33;
NET "ADC_MOSI" IOSTANDARD = LVCMOS33;
NET "ADC_RSTN" IOSTANDARD = LVCMOS33;

