//通道控制
NET "CH1_ltc2600_cs" LOC = "E16"|IOSTANDARD =  LVCMOS33; //CH1
NET "CH1_ltc2600_din" LOC = "C11"|IOSTANDARD =  LVCMOS33;
NET "CH1_ltc2600_sclk" LOC = "F15"|IOSTANDARD =  LVCMOS33;
NET "CH1_4094_str1" LOC = "B13"|IOSTANDARD =  LVCMOS33;
NET "CH1_4094_str2" LOC = "C14"|IOSTANDARD =  LVCMOS33;
NET "CH1_4094_din" LOC = "E15"|IOSTANDARD =  LVCMOS33;
NET "CH1_4094_sclk" LOC = "D14"|IOSTANDARD =  LVCMOS33;
NET "CH1_pe3402_le" LOC = "A11"|IOSTANDARD =  LVCMOS33;
NET "CH1_pe4302_data" LOC = "D11"|IOSTANDARD =  LVCMOS33;
NET "CH1_pe4302_sclk" LOC = "A12"|IOSTANDARD =  LVCMOS33;

NET "CH2_ltc2600_cs" LOC = "K14"|IOSTANDARD =  LVCMOS33;	//CH2
NET "CH2_ltc2600_din" LOC = "K13"|IOSTANDARD =  LVCMOS33;
NET "CH2_ltc2600_sclk" LOC = "J13"|IOSTANDARD =  LVCMOS33;
NET "CH2_4094_str1" LOC = "G15"|IOSTANDARD =  LVCMOS33;
NET "CH2_4094_str2" LOC = "H15"|IOSTANDARD =  LVCMOS33;
NET "CH2_4094_din" LOC = "L11"|IOSTANDARD =  LVCMOS33;
NET "CH2_4094_sclk" LOC = "K11"|IOSTANDARD =  LVCMOS33;
NET "CH2_pe3402_le" LOC = "K15"|IOSTANDARD =  LVCMOS33;
NET "CH2_pe4302_data" LOC = "L13"|IOSTANDARD =  LVCMOS33;
NET "CH2_pe4302_sclk" LOC = "L12"|IOSTANDARD =  LVCMOS33;


//system clock
NET "CLK_10M_IN" LOC = "F21"|IOSTANDARD =  LVCMOS33;


//ADC采样时钟配置
NET "PE4320_10MHz_CHOOSE" LOC = "H17"|IOSTANDARD =  LVCMOS33;
NET "PE4320SMPCLK_CHOOSE" LOC = "J19"|IOSTANDARD =  LVCMOS33;
NET "ADCLK9418_SEL_CLK" LOC = "H19"|IOSTANDARD =  LVCMOS33;

NET "FRQ_DIV_Reset" LOC = "L18"|IOSTANDARD =  LVCMOS33;
NET "FRQ_DIV_SEL0" LOC = "K19"|IOSTANDARD =  LVCMOS33;
NET "FRQ_DIV_SEL1" LOC = "K20"|IOSTANDARD =  LVCMOS33;
NET "FRQ_DIV_SEL2" LOC = "H21"|IOSTANDARD =  LVCMOS33;

NET "EXT_CLK_Measure_p" LOC = "D26"|IOSTANDARD =  LVDS_25;
NET "EXT_CLK_Measure_n" LOC = "C26"|IOSTANDARD =  LVDS_25;
	 
NET "ADF4350_CS" LOC = "J18"|IOSTANDARD =  LVCMOS33;
NET "ADF4350_DIN" LOC = "K18"|IOSTANDARD =  LVCMOS33;
NET "ADF4350_SCLK" LOC = "G19"|IOSTANDARD =  LVCMOS33;
NET "ADF4350_CLK_IN" LOC = "F20"|IOSTANDARD =  LVCMOS33;//ADF4350 clock in

NET "ADF4355_CS" LOC = "J17"|IOSTANDARD =  LVCMOS33;
NET "ADF4355_DIN" LOC = "G20"|IOSTANDARD =  LVCMOS33;
NET "ADF4355_SCLK" LOC = "H20"|IOSTANDARD =  LVCMOS33;	 


//触发系统
//通道
NET "Trig_CH1_IN_N" LOC = AD28;
NET "Trig_CH1_IN_N" IOSTANDARD = BLVDS_25;
NET "Trig_CH1_IN_N" DIFF_TERM = "TRUE";
NET "Trig_CH1_IN_P" LOC = AD27;
NET "Trig_CH1_IN_P" IOSTANDARD = BLVDS_25;
NET "Trig_CH1_IN_P" DIFF_TERM = "TRUE"; 

NET "Trig_CH2_IN_N" LOC = AF28;
NET "Trig_CH2_IN_N" IOSTANDARD = BLVDS_25;
NET "Trig_CH2_IN_N" DIFF_TERM = "TRUE";
NET "Trig_CH2_IN_P" LOC = AE28;
NET "Trig_CH2_IN_P" IOSTANDARD = BLVDS_25;
NET "Trig_CH2_IN_P" DIFF_TERM = "TRUE"; 

NET "Trig_CH3_IN_N" LOC = T28;
NET "Trig_CH3_IN_N" IOSTANDARD = BLVDS_25;
NET "Trig_CH3_IN_N" DIFF_TERM = "TRUE";
NET "Trig_CH3_IN_P" LOC = R28;
NET "Trig_CH3_IN_P" IOSTANDARD = BLVDS_25;
NET "Trig_CH3_IN_P" DIFF_TERM = "TRUE"; 

NET "Trig_CH4_IN_N" LOC = U25;
NET "Trig_CH4_IN_N" IOSTANDARD = BLVDS_25;
NET "Trig_CH4_IN_N" DIFF_TERM = "TRUE";
NET "Trig_CH4_IN_P" LOC = T25;
NET "Trig_CH4_IN_P" IOSTANDARD = BLVDS_25;
NET "Trig_CH4_IN_P" DIFF_TERM = "TRUE";

//通道触发解串		
NET "CH_TRIG_SINSEL0" LOC = F16;
NET "CH_TRIG_SINSEL0" IOSTANDARD = LVCMOS33;
NET "CH_TRIG_SINSEL1" LOC = A15;
NET "CH_TRIG_SINSEL1" IOSTANDARD = LVCMOS33;
NET "CH_TRIG_RESET" LOC = A13;
NET "CH_TRIG_RESET" IOSTANDARD = LVCMOS33;
NET "CH_TRIG_SYNC" LOC = C15;
NET "CH_TRIG_SYNC" IOSTANDARD = LVCMOS33;
NET "CH_TRIG_CKEN" LOC = B15;
NET "CH_TRIG_CKEN" IOSTANDARD = LVCMOS33;
NET "CH_TRIG_CKSEL" LOC = B14;
NET "CH_TRIG_CKSEL" IOSTANDARD = LVCMOS33;
NET "CH_TRIG_Q0" LOC = J11;
NET "CH_TRIG_Q0" IOSTANDARD = LVCMOS33;		
		
//背板
NET "Trig_PXISTAR" LOC = F17;
NET "Trig_PXISTAR" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[0]" LOC = C20;
NET "Trig_PXITRIG[0]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[1]" LOC = B20;
NET "Trig_PXITRIG[1]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[2]" LOC = A16;
NET "Trig_PXITRIG[2]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[3]" LOC = A17;
NET "Trig_PXITRIG[3]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[4]" LOC = A20;
NET "Trig_PXITRIG[4]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[5]" LOC = A21;
NET "Trig_PXITRIG[5]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[6]" LOC = B18;
NET "Trig_PXITRIG[6]" IOSTANDARD = LVCMOS33;
NET "Trig_PXITRIG[7]" LOC = A18;
NET "Trig_PXITRIG[7]" IOSTANDARD = LVCMOS33;
//外部
NET "PE4320_EXTERN_TRIG_INOUT_CHOOSE" LOC = L17;
NET "PE4320_EXTERN_TRIG_INOUT_CHOOSE" IOSTANDARD = LVCMOS33;
NET "EXTERN_TRIG_AND_ARM_IN" LOC = C19;
NET "EXTERN_TRIG_AND_ARM_IN" IOSTANDARD = LVCMOS33;
NET "EXTERN_TRIG_OUT" LOC = B19;
NET "EXTERN_TRIG_OUT" IOSTANDARD = LVCMOS33;
//视频
NET "CH1_VIDEO_TRI_SYN" LOC = E11;
NET "CH1_VIDEO_TRI_SYN" IOSTANDARD = LVCMOS33;
NET "CH1_VIDEO_TRI_FIELD" LOC = F11;
NET "CH1_VIDEO_TRI_FIELD" IOSTANDARD = LVCMOS33;
NET "CH2_VIDEO_TRI_SYN" LOC = L15;
NET "CH2_VIDEO_TRI_SYN" IOSTANDARD = LVCMOS33;
NET "CH2_VIDEO_TRI_FIELD" LOC = K16;
NET "CH2_VIDEO_TRI_FIELD" IOSTANDARD = LVCMOS33;

//指示灯
NET "trigged_indicate" LOC = G12;
NET "trigged_indicate" IOSTANDARD = LVCMOS33;
NET "rdy_indicate" LOC = L16;
NET "rdy_indicate" IOSTANDARD = LVCMOS33;

//eeprom
NET "eeprom1_SCl" LOC = H22;
NET "eeprom1_SCl" IOSTANDARD = LVCMOS33;
NET "eeprom1_SDA" LOC = D21;
NET "eeprom1_SDA" IOSTANDARD = LVCMOS33;
NET "eeprom2_SCl" LOC = B22;
NET "eeprom2_SCl" IOSTANDARD = LVCMOS33;
NET "eeprom2_SDA" LOC = A22;
NET "eeprom2_SDA" IOSTANDARD = LVCMOS33;



//等效采样
NET "Widen_pluse_p" LOC = AB27;
NET "Widen_pluse_p" IOSTANDARD = LVDS_25 ;
NET "Widen_pluse_n" LOC = AC27;
NET "Widen_pluse_n" IOSTANDARD = LVDS_25 ;
NET "Expanded_T" LOC = AE23;
NET "Expanded_T" IOSTANDARD = LVCMOS33;



//时序约束
//ADC数据输入时钟满足达到312.5M要求
NET "adc_clk_out1" TNM_NET = adc_clk_out1;
TIMESPEC TS_adc_clk_out1 = PERIOD "adc_clk_out1" 3.2 ns HIGH 50%;
NET "adc_clk_out2" TNM_NET = adc_clk_out2;
TIMESPEC TS_adc_clk_out2 = PERIOD "adc_clk_out2" 3.2 ns HIGH 50%;

//外部采样时钟满足达到250M要求
NET "EXT_CLK_Measure" TNM_NET = EXT_CLK_Measure;
TIMESPEC TS_EXT_CLK_Measure = PERIOD "EXT_CLK_Measure" 4 ns HIGH 50%;

//TDC-△t+Ts/2,满足250ns要求
#NET "Widen_pluse" TNM_NET = Widen_pluse;
#TIMESPEC Widen_pluse = PERIOD "Widen_pluse" 4 ns HIGH 50%;

















		

