

NET "LD[0]" LOC = "Y20" |IOSTANDARD = LVCMOS33;
NET "LD[8]" LOC = "Y23" |IOSTANDARD = LVCMOS33;
NET "LD[12]" LOC = "Y24" |IOSTANDARD = LVCMOS33;
NET "LD[2]" LOC = "Y21" |IOSTANDARD = LVCMOS33;
NET "LD[6]" LOC = "AA21" |IOSTANDARD = LVCMOS33;
NET "LD[7]" LOC = "AB22" |IOSTANDARD = LVCMOS33;
NET "LD[5]" LOC = "AB23" |IOSTANDARD = LVCMOS33;
NET "LD[10]" LOC = "AA22" |IOSTANDARD = LVCMOS33;
NET "LD[3]" LOC = "AA23" |IOSTANDARD = LVCMOS33;
NET "LD[9]" LOC = "AC20" |IOSTANDARD = LVCMOS33;
NET "LD[13]" LOC = "AC21" |IOSTANDARD = LVCMOS33;
NET "LD[4]" LOC = "AA20" |IOSTANDARD = LVCMOS33;
NET "LD[11]" LOC = "AB20" |IOSTANDARD = LVCMOS33;
NET "LD[1]" LOC = "AB24" |IOSTANDARD = LVCMOS33;
NET "LD[14]" LOC = "AC25" |IOSTANDARD = LVCMOS33;
NET "LD[15]" LOC = "AC22" |IOSTANDARD = LVCMOS33;



NET "LA[9]" LOC = "AF22" |IOSTANDARD = LVCMOS33;
NET "LA[11]" LOC = "AG23" |IOSTANDARD = LVCMOS33;
NET "LA[22]" LOC = "AG24" |IOSTANDARD = LVCMOS33;
NET "LA[20]" LOC = "AH24" |IOSTANDARD = LVCMOS33;
NET "LA[16]" LOC = "AJ24" |IOSTANDARD = LVCMOS33;
NET "LA[14]" LOC = "AK25" |IOSTANDARD = LVCMOS33;
NET "LA[6]" LOC = "AE25" |IOSTANDARD = LVCMOS33;
NET "LA[8]" LOC = "AF25" |IOSTANDARD = LVCMOS33;
NET "LA[24]" LOC = "AK23" |IOSTANDARD = LVCMOS33;
NET "LA[18]" LOC = "AK24" |IOSTANDARD = LVCMOS33;
NET "LA[10]" LOC = "AG25" |IOSTANDARD = LVCMOS33;
NET "LA[12]" LOC = "AH25" |IOSTANDARD = LVCMOS33;
NET "LA[25]" LOC = "AF20" |IOSTANDARD = LVCMOS33;
NET "LA[13]" LOC = "AF21" |IOSTANDARD = LVCMOS33;
NET "LA[15]" LOC = "AG22" |IOSTANDARD = LVCMOS33;
NET "LA[17]" LOC = "AH22" |IOSTANDARD = LVCMOS33;
NET "LA[28]" LOC = "AJ22" |IOSTANDARD = LVCMOS33;
NET "LA[26]" LOC = "AJ23" |IOSTANDARD = LVCMOS33;
NET "LA[31]" LOC = "AG20" |IOSTANDARD = LVCMOS33;
NET "LA[29]" LOC = "AH20" |IOSTANDARD = LVCMOS33;
NET "LA[19]" LOC = "AH21" |IOSTANDARD = LVCMOS33;
NET "LA[21]" LOC = "AJ21" |IOSTANDARD = LVCMOS33;
NET "LA[27]" LOC = "AK20" |IOSTANDARD = LVCMOS33;
NET "LA[30]" LOC = "AK21" |IOSTANDARD = LVCMOS33;
NET "LA[23]" LOC = "AE20" |IOSTANDARD = LVCMOS33;
NET "LA[3]" LOC = "AD22" |IOSTANDARD = LVCMOS33;
NET "LA[2]" LOC = "AC24" |IOSTANDARD = LVCMOS33;
NET "LA[4]" LOC = "AD24" |IOSTANDARD = LVCMOS33;
NET "LA[5]" LOC = "AD21" |IOSTANDARD = LVCMOS33;
NET "LA[7]" LOC = "AE21" |IOSTANDARD = LVCMOS33;

NET "LCLK_20M" LOC = "E19";
NET "LCLK_20M" IOSTANDARD = LVCMOS33;
NET "LWRN" LOC = "D16";
NET "LWRN" IOSTANDARD = LVCMOS33;
NET "LHOLDA" LOC = "C16";
NET "LHOLDA" IOSTANDARD = LVCMOS33;
NET "LHOLD" LOC = "G18";
NET "LHOLD" IOSTANDARD = LVCMOS33;
NET "BLASTN" LOC = "F18";
NET "BLASTN" IOSTANDARD = LVCMOS33;
NET "ADSN" LOC = "C17";
NET "ADSN" IOSTANDARD = LVCMOS33;
NET "READYN" LOC = "B17";
NET "READYN" IOSTANDARD = LVCMOS33;





